
/*  .cabeca1 .Categorias .opcoes .busca */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores do site */
    --cor1:#074073;
    --cor2:#F2B705;
    --cor3:#F2A71B;
    --cor4:#F27405;
    --cor5:#F2F2F2;

    /* Fontes e tamanhos */
    --fontsite:'Montserrat',Arial,sans-serif;
    --font-size-padrao: 1rem;
    --font-size-pequeno: 1.2rem;
    --font-size-medio: 1.5rem;
    --font-size-grande: 2rem;
    --cor-branca: var(--cor5);
    --cor-preta: #000000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: var(--fontsite);
    color:var(--cor5) ;
    list-style: none;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor5);
    overflow-x: hidden;
}





/* Estilização do corpo e conteudo */
.container{
    max-width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
.conteudo{
    /* main/largura do site  */
    background-color:var(--cor5);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid black; */
    margin: 0px 0px 0px 30px;
}
/* PadraoS = Configuração padrão para a section */
.PadraoS{
    width:100%;
    margin: 20px;
    padding-left: 8%;
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
}

.menu{
    background-color: var(--cor1);
    padding: 10px 20px;
}
.nav-bar{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-bar ul{
    display: flex;
    gap: 50px;
    font-size: var(--font-size-pequeno);
    list-style: none;
}
.nav-list-segunda{
    display: none;
}
.logo{
    width:80%;
}
.material-symbols-outlined {
    font-size: 35px;
    color:var(--cor5);
    /* background-color: #F27405; */
    /* border-radius: 50%; */
    cursor: pointer;
}
.hb-funcoes{
    display: none;
}

@media screen and (max-width: 700px) {
    .buscar{
        display: none;
    }
    .hb-funcoes{
        display: flex;
    }
    .nav-list{
        display: none;
    }
    /* .nav-list-segunda{
        display: block;
    } */
    .nav-list-segunda  .op{
        display: block;
    }
    .buscar-segunda{
        text-align: center;
        padding: 10px;
    }
    .nav-links a{
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
        background-color:var(--cor1);
    }
    .nav-links a:hover{
        background-color: var(--cor3);
        color: var(--cor1);
    }
     .conteudo{
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px 0px 0px 30px;
    }
    
    
}

/* Ofertas do dia */
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.ofertaD{
    /* background-color: var(--cor2); */
    width: 200px;
    /* height: 100px; */
    margin-top:16px;
    /* margin-right: 5px; */
    border-radius: 10px;
    border: 1px solid #00000044;
    box-shadow: 1px 2px 3px #00000044;
    padding: 10px;
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.ofertaD:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    z-index: 10; 
}

.pro {
    width: 100%;
    /* height: 60%; */
    object-fit: cover;
    transition: transform 0.5s ease;
    padding: 15px;
}

.ofertaD:hover .pro {
    transform: scale(1.1); 
}
.descricao{
    color: var(--cor-preta);
}
.preco{
    padding-top: 10px;
    font-weight: bold;
    margin: 5px;
    color: var(--cor4);
}

/* Estilização Footer */
.main-footer{
    background-color: var(--cor1);
    display: flow-root;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    /* border-top: 2px solid #f2f2f228; */
}
.logof{
    width: 80px;
}
.footer-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    
}
.footer-section h4 {
    width: 100%; 
    text-align: left; 
    margin: 0 0 8px 0; 
    color: var(--cor5); 
    font-size: 1.1rem;
}
.footer-links{
    padding-top: 9px;
}
.footer-links:hover{
    text-decoration: underline;
}

.botao{
    text-decoration: none;
    background-color: var(--cor3);
    color:#074073;
    font-size: 13px;
    font-weight: bold;
    /* border: 1px solid rgb(30, 4, 52); */
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.containerb{
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo{
    color:var(--cor1);
    /* margin: 5px; */
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F2A71B; 
    font-weight: bold;
}

.containermenu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #F2A71B; 
    height: 40px;
}
.tmercearia{
    color: var(--cor1);
    padding: 12px;
}
.tmercearia:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    z-index: 10; 
    background-color: #F2B705;
}
.mercearia-conteudo{
    color: black;
    display: flex;
    margin: 20px 0px 0px 45px;
    padding: 5px;
    justify-content: center;
}
.mercearia-t{
   border-bottom: 3px solid var(--cor4);
    color: black;
    
}